@media (min-width: 320px) {
  header .logo img {
    width: 100px;
  }

  .toggle {
    display: block;
    color: #542a0b;
  }

  header nav ul li .dropdown {
    width: 100%;
  }

  header nav ul li .dropdown ul {
    background-color: white;
  }

  header nav ul li .dropdown ul li a {
    color: #76563d;
    font-size: 18px;
    text-transform: capitalize;
    padding: 10px;
    margin-left: 20px;
    transition: all 0.3s;
    display: inline-block;
  }

  .plant2-img {
    max-height: 50vh;
    object-fit: cover;
  }

  .subtitle {
    font-size: 18px;
  }

  .main-title {
    font-size: 30px;
  }

  .latest-heading {
    font-size: 30px;
  }

  .latest-heading-2 {
    font-size: 18px;
  }

  .latest-description {
    font-size: 16px;
  }

  .plant .plant-50 .inner-2 {
    left: 20px;
  }

  .plant .plant-50 .inner-2 h3 {
    font-size: 20px;
  }

  .btn-2 {
    padding: 5px 16px;
    font-size: 14px;
  }
}

/* @media (min-width:480px) {
    header .logo img{
        width: 100px;
    } chalshe aa nai add kriye to atalu jadu kem thay jay che 
} */

@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333%;
  }

  .col-sm-2 {
    width: 16.6666%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.3333%;
  }

  .col-sm-5 {
    width: 41.6666%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.3333%;
  }

  .col-sm-8 {
    width: 66.6666%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.3333%;
  }

  .col-sm-11 {
    width: 91.6666%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .container {
    max-width: 540px;
  }

  .testimonial-border {
    margin-top: 20px;
  }

  .banner-bg .banner-img {
    height: 45vh;
  }

  footer .footer-center .footer-center-content h5 {
    margin-bottom: 10px;
  }

  header .logo img {
    width: 100px;
  }

  footer .footer-top .submit-form {
    width: 80%;
  }

  .decotation .decoretion-overlay .decoration-info h4 {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 400;
    color: white;
  }

  .decotation .decoretion-overlay .decoration-info h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .decotation .decoretion-overlay .decoration-info button {
    font-size: 10px;
    padding: 2px 15px;
  }

  .subtitle {
    font-size: 20px;
  }

  .main-title {
    font-size: 38px;
  }

  .latest-heading {
    font-size: 37px;
  }

  .latest-heading-2 {
    font-size: 22px;
  }

  .latest-description {
    font-size: 17px;
  }

  .plant .plant-50 .inner-2 {
    left: 55px;
  }

  .plant .plant-50 .inner-2 h3 {
    font-size: 24px;
  }

  .btn-2 {
    padding: 7px 30px;
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333%;
  }

  .col-md-2 {
    width: 16.6666%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333%;
  }

  .col-md-5 {
    width: 41.6666%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3333%;
  }

  .col-md-8 {
    width: 66.6666%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.3333%;
  }

  .col-md-11 {
    width: 91.6666%;
  }

  .col-md-12 {
    width: 100%;
  }

  .container {
    max-width: 720px;
  }

  .testimonial-border {
    margin-top: 20px;
    padding: 30px 0px;
  }

  .latest .latest-box .latest-info-1 {
    margin: 0;
  }

  .latest .latest-box .latest-info-2 {
    margin: 0;
  }

  footer .footer-top .submit-form {
    width: 80%;
  }

  .banner-bg .banner-img {
    height: 54vh;
  }

  footer .footer-center .footer-center-content h5 {
    margin-bottom: 10px;
  }

  .decotation .decoretion-overlay .decoration-info h4 {
    margin-bottom: 14px;
    font-size: 20px;
  }

  .decotation .decoretion-overlay .decoration-info h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .decotation .decoretion-overlay .decoration-info button {
    font-size: 12px;
    padding: 5px 20px;
  }

  .subtitle {
    font-size: 20px;
  }

  .main-title {
    font-size: 40px;
  }

  .latest-heading {
    font-size: 40px;
  }

  .latest-heading-2 {
    font-size: 22px;
  }

  .latest-description {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333%;
  }

  .col-lg-2 {
    width: 16.6666%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.3333%;
  }

  .col-lg-5 {
    width: 41.6666%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.3333%;
  }

  .col-lg-8 {
    width: 66.6666%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.3333%;
  }

  .col-lg-11 {
    width: 91.6666%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .container {
    max-width: 960px;
  }

  .plant-50 .inner2 {
    left: 15px;
  }

  .testimonial-border {
    margin-top: -60px;
    padding: 40px 0;
  }

  .latest .latest-box .latest-info-1 {
    margin: -60px 30px 0;
  }

  .latest .latest-box .latest-info-2 {
    margin: 0 30px -60px;
  }

  footer .footer-top .submit-form {
    width: 47%;
  }

  .banner-bg .banner-img {
    height: 66vh;
  }

  footer .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
  }

  footer .footer-top .submit-form {
    width: 47%;
  }

  footer .footer-top .submit-form button {
    padding: 12px 30px;
    font-size: 16px;
  }

  .decotation .decoretion-overlay .decoration-info h3 {
    font-size: 30px;

    margin-bottom: 20px;
  }

  .decotation .decoretion-overlay .decoration-info button {
    font-size: 14px;
    padding: 12px 30px;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333%;
  }

  .col-xl-2 {
    width: 16.6666%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.3333%;
  }

  .col-xl-5 {
    width: 41.6666%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.3333%;
  }

  .col-xl-8 {
    width: 66.6666%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.3333%;
  }

  .col-xl-11 {
    width: 91.6666%;
  }

  .col-xl-12 {
    width: 100%;
  }

  .container {
    max-width: 1140px;
  }

  .toggle {
    display: none;
    color: #542a0b;
  }

  header nav ul li .dropdown ul li a {
    font-size: 14px;
    color: #777777;
    padding: 5px 15px;
    margin: 0;
    display: inline-block;
    transition: all 0.3s;
  }

  header nav ul li .dropdown {
    width: 170px;
  }

  header nav ul {
    background-color: transparent;
    position: static;
    transform: scale(1);
    width: auto;
    flex-direction: row;
    padding-left: 270px;
  }

  .testimonial .testimonial-border {
    padding: 40px 0;
  }

  .latest .latest-box .latest-info-1 {
    margin: -100px 30px 0;
    padding: 30px;
  }

  .latest .latest-box .latest-info-2 {
    margin: 0 30px -100px;
  }

  .banner-bg .banner-img {
    height: 70vh;
  }

  .service .service-content {
    justify-content: center;
  }
}

@media (min-width: 1400px) {
  .col-xxl-1 {
    width: 8.3333%;
  }

  .col-xxl-2 {
    width: 16.6666%;
  }

  .col-xxl-3 {
    width: 25%;
  }

  .col-xxl-4 {
    width: 33.3333%;
  }

  .col-xxl-5 {
    width: 41.6666%;
  }

  .col-xxl-6 {
    width: 50%;
  }

  .col-xxl-7 {
    width: 58.3333%;
  }

  .col-xxl-8 {
    width: 66.6666%;
  }

  .col-xxl-9 {
    width: 75%;
  }

  .col-xxl-10 {
    width: 83.3333%;
  }

  .col-xxl-11 {
    width: 91.6666%;
  }

  .col-xxl-12 {
    width: 100%;
  }

  .container {
    max-width: 1320px;
  }

  header nav ul {
    padding-left: 450px;
  }

  .fixed nav ul {
    padding-left: 0px;
  }

  .banner-bg .banner-img {
    height: 80vh;
  }

  .fixed {
    z-index: 9;
  }

  .decotation .decoretion-overlay .decoration-info h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .blog-post-title {
    font-size: 32px;
  }

  .blog-featured-image {
    height: 300px;
  }

  .blog-post-content h2 {
    font-size: 26px;
  }

  .blog-post-content h3 {
    font-size: 22px;
  }

  .blog-navigation {
    flex-direction: column;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}